<html>
	<head>
	<style>
	

	.container:hover
	{
		background-color:rgb(210, 211, 211);
	}
	input[type="number"]:hover ,.form-control:hover,  select :hover
	{
		color: rgb(29, 25, 25);
		font-weight: bold;
	}	
	
	</style>

	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<link href="../static/img/p4.png" rel="icon">
		<title>Image Tampering Detection</title>
	</head>
	<body style="background-color: rgb(119, 119, 119,0.5);">
	<!-- Java Script -->	
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		<center>
		<!-- Navbar-->
		<nav class="navbar navbar-dark " style="background-color: #37517e;">
			<span class="navbar-brand mb-0 h1"><p style="margin:auto;width:50%;font-weight: bold;">Image Tampering Detection </p></span>
		</nav>
		</center>
		<div class="container" style="background-image: url('../static/img/1BFFFF.png'); min-height: 600px;">
			<br>
			<!--Form-->
			<form action = "{{url_for('predictfile')}}" method ="POST" enctype="multipart/form-data">
				<fieldset>
					<center>
					<img src="../static/img/header.jpg" width="150" height="45" alt="">
					<legend style="color:#37517e;font-weight:bold;">Select Image File & Click on Predict</legend><br>
					<label class="btn btn-light" for="exampleFormControlFile1" style="margin-left: 0px; ">Select Image File</label>
					<input class="form-control-file" id="exampleFormControlFile1" name="file" style="width: 10px; height: 10px; opacity: 0; overflow: hidden; position: center; z-index: -1;" type="file" accept=".jpg,.png" required><br>
					<div class="form-group">
					<input style="font-family: Jost, sans-serif;font-weight: 500;font-size: 16px;letter-spacing: 1px;display: inline-block;
					padding: 10px 28px 11px 28px;border-radius: 50px;transition: 0.5s;margin: 10px 0 0 0;color: #fff;
					background: #47b2e4;font-weight:bold;border-color:47b2e4;width: 650px;" class="btn btn-primary" type="submit" value="CLICK TO PREDICT IMAGE TAMPERING">
					</div><br>
					<!--Prediction Result-->
					{% if condval != "nooutput" %}
					<div id ="result">
						<legend style="color:#37517e;font-weight:bold;">{{res2}}</legend><br>
						<img src="{{ image }}" style="padding-top: 15px; height: 350px; width: 400px;" alt=""/><br>
					</div><br>
					{% endif %}
					</center>
					 </fieldset>
			</form>
		</div>
	</body>
</html>

